@import "./../variables_main";
@import "./../note_base";

.create-btn {
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 30px;
  }

.linkmark-body {
  display: block;
  width: 100%;
  border-top: 2px solid $dark-blue;
  display: flex !important;
  justify-content: center;
  padding: 35px 20px;
  font-size: 16px;
  color: $dark-blue;
  position: relative;
  z-index: 999;
  background: $white;
  max-width: 200px;
  max-height: 300px;
}
