<button mat-flat-button color="primary" routerLink='create' class="create-btn">+</button>
<ul class="grid-row">
  <li *ngFor="let linkMark of linkMarks$|async" class="grid-col">
    <div routerLink='{{linkMark.id}}' class="item">
      <div class="item-inner">
        <div class="item-header">
          {{linkMark.title}}
        </div>
        <div class="linkmark-body">
          {{linkMark.description}}
        </div>
        <div class="item-bottom">
          <a color="primary" *ngIf="linkMark.link" href="{{linkMark.link}}" mat-button>Перейти по ссылке</a>
        </div>
        <div class="item-bottom">
          <ul class="grid-row tags-grid">
            <li *ngFor="let tag of linkMark.tags" class="tags-col">
              <div class="tagList">
                {{tag.value}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
