<div class="header-container" role="main">
  <mat-toolbar id="toolbar" class="toolbar">
    <nav class="header-navigation">
      <ul class="middle-nav">
        <li class="middle-nav-link-cont">
            <a mat-button routerLink="/notes" routerLinkActive="active" class="middle-nav-link">Заметки</a>
        </li>
        <li class="middle-nav-link-cont">
          <a mat-button routerLink="/recipes" routerLinkActive="active" class="middle-nav-link">Рецепты</a>
        </li>
        <li class="middle-nav-link-cont">
          <a mat-button routerLink="/linkmarks" routerLinkActive="active" class="middle-nav-link">Ссылки</a>
        </li>
      </ul>
      <ul class="middle-nav user-nav">
        <li *ngIf="username" class="middle-nav-link-cont">
            <div class="middle-nav-link mat-button">Добро пожаловать, {{ username }}</div>
        </li>
        <li class="middle-nav-link-cont">
           <a mat-button (click)="logout()" class="middle-nav-link">Выйти</a>
        </li>
      </ul>
    </nav>
  </mat-toolbar>
</div>
<div class="main-container">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

