<ul class="grid-row">
  <li class="grid-col">
    <div class="item">
      <div class="item-inner">
        <div class="item-header">
          Рецепт
        </div>
        <div class="item-body">
          Text text
        </div>
      </div>
    </div>
  </li>
  <li class="grid-col">
    <div class="item">
      <div class="item-inner">
        <div class="item-header">
          Заметка
        </div>
        <div class="item-body">
          Text text
        </div>
      </div>
    </div>
  </li>
  <li class="grid-col">
    <div class="item">
      <div class="item-inner">
        <div class="item-header">
          Ссылка
        </div>
        <div class="item-body">
          Text text
        </div>
      </div>
    </div>
  </li>
  <li class="grid-col">
    <div class="item">
      <div class="item-inner">
        <div class="item-header">
          Hello
        </div>
        <div class="item-body">
          Text text
        </div>
      </div>
    </div>
  </li>
  <li class="grid-col">
    <div class="item">
      <div class="item-inner">
        <div class="item-header">
          Hello
        </div>
        <div class="item-body">
          Text text
        </div>
      </div>
    </div>
  </li>
</ul>
