@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "app/variables_main";

body {
    max-width: 1700px;
    margin: 0 auto;
}

a {
    color: $blue;
}

a:hover {
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}